[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
shapely = "*"

[packages]
csci-utils = {editable = true,git = "https://github.com/csci-e-29/2020fa-csci-utils-skyros"}
luigi = "*"
geopandas = {extras = ["GeoDataFrame"], version = "*"}
dask = {extras = ["dataframe"], version = "*"}
fastparquet = "*"
bokeh = "*"
requests = "*"
boto3 = "*"

[requires]
python_version = "3.7"
